<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jobScrape</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>

    <div class="container">
        {{{body}}}
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("jquery ready");
            $(".modal").modal();
        });

        // NOTES MODAL CLICK
        $(document).on("click", ".modal-trigger", function () {
            $("#note-card").empty();
            // clear all input fields
            $("#title_text").val("");
            $("#body_text").val("");
            const postId = $(this).attr("data-id");
            console.log(postId);

            // get the job info from api
            $.ajax({
                method: "GET",
                url: "/jobs/" + postId
            }).then(function (data) {
                $("#jobTitle").text(data.title);
                $("#jobCompany").text(data.company);
                // if there is a note left on job display that card section
                if (data.note) {
                    console.log("Note exists", data.note);
                    const newCard = $("<div class='card-panel yellow accent-1 dark-text'></div>");
                    newCard.append(`<h5>${data.note.title}</h5>`, `<h5>${data.note.body}</h5>`);
                    $("#note-card").append(newCard);
                }
            });

            // SAVE NOTE BUTTON CLICK
            $(document).on("click", "#add-note", function () {
                // prevent from submitting form
                event.preventDefault();
                $.ajax({
                    method: "POST",
                    url: "/jobs/" + postId,
                    data: {
                        title: $("#title_text").val(),
                        body: $("#body_text").val()
                    }
                }).then(function (data) {
                    console.log(data);
                    
                });
            });
        });

    </script>
</body>

</html>